/*! СЕКЦИЯ */
.awesome {
    background-color: white;
    /** фон секции*/
    padding: 80px 0;
    /*!ОБЕЗАТЕЛЬНО, чтобы покрасилось поле В+Н*/
}

.container {}

/*! h2 class */
.title {
    font-family: "Raleway";
    /** название шрифта*/
    font-size: 36px;
    /** размер шрифта*/
    font-weight: 400;
    /** начертание шрифта*/
    color: #212121;
    /** цвет шрифта*/
    width: 409px;
    /** ширина блока*/
    margin: 0 auto 34px;
    /** отступы = В Л+П Н*/
}

/*! div class */
.zero {
    width: 64px;
    /** ширина блока*/
    margin: 0 auto 34px;
    /** отступы = В Л+П Н*/
    border: 1px solid #E72424;
    /** рамка= толщина границы, стиль-сплощная, ее цвет*/
}

/*! div - <p> */
.awesome-text {
    font-size: 14px;
    /** размер шрифта*/
    font-weight: 400;
    /** начертание шрифта*/
    color: #86878B;
    /** цвет шрифта*/
    text-align: center;
    /** выравниваться строчное содержимое (текст, изображения) по горизонтали*/
    /*! ДЛЯ ТЕКСТА В БЛОКЕ*/
    width: 363px;
    /** ширина блока*/
    margin: 0 auto 68px;
    /** отступы = В Л+П Н*/
    /*! БЛОК - ПО ЦЕНТРУ, ЕСЛИ ЕСТЬ У НЕГО ШИРИНА*/
}

/*! ОБЕРТКА */
.awesome-wrap {
    display: flex;
    /** для блочного отображения, flex-сетка*/
    justify-content: space-between;
    /**распределяет элементы по главной оси = равномерно, Между крайними элементами и флекс-контейнером отступа нет*/
}

/*! КАРТОЧКА */
.card {
    width: 350px;
    /** ширина блока*/
}

/*! КАРТОЧКА - картинка */
.card-img {
    width: 70px;
    /** ширина блока*/
    height: 70px;
    /** высота блока*/
    border: 1px solid #E72424;
    /** рамка= толщина границы, стиль-сплощная, ее цвет*/
    border-radius: 50%;
    /** радиус рамки - 50% = круг*/
    margin: 0 auto 30px;
    /** отступы = В Л+П Н*/
    display: flex;
    /** для блочного отображения, flex-сетка*/
    justify-content: center;
    /**распределяет элементы по главной оси = центр*/
    align-items: center;
    /** производит выравнивание всех элементов внутри флекс контейнера вдоль поперечной оси*/
}

/*! КАРТОЧКА - загаловок */
.card-title {
    text-transform: capitalize;
    /** текст = 1-я заглавная в слове*/
    font-size: 20px;
    /** размер шрифта*/
    font-weight: 700;
    /** начертание шрифта*/
    color: #333333;
    /** цвет шрифта*/
    line-height: 29px;
    /** (межстрочный интервал) - высота строки*/
    width: 189px;
    /** ширина блока*/
    margin: 0 auto 16px;
    /** отступы = В Л+П Н*/
    text-align: center;
    /** выравнивание по горизонтали*/
}

/*! КАРТОЧКА - div - <p> */
.card-text {
    font-size: 14px;
    /** размер шрифта*/
    font-weight: 400;
    /** начертание шрифта*/
    color: #000000;
    /** цвет шрифта*/
    margin-bottom: 39px;
    /** отступы = Н*/
}

/*! КАРТОЧКА  - сам <p>*/
.card-text p {
    text-align: center;
    /** выравниваться строчное содержимое (текст, изображения) по горизонтали*/
}